/* CSS for tabbed navigation */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 16px;
font-family: Helvetica, Arial, sans-serif;
color: #444;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

/* Style the GitHub button */
.github-button {
display: inline-block;
padding: 10px 20px;
margin-top: 10px;
font-size: 16px;
background-color: #24292e;
color: #ffffff;
text-decoration: none;
border-radius: 5px;
}

.github-button:hover {
background-color: #3b4045;
}